version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    groups:
      dev-dependencies:
        patterns:
          - '@types/*'
          - '@vercel/*'
          - 'eslint*'
          - 'prettier'
          - 'typescript'
          - 'jest'
          - 'ts-jest'
          - 'husky'
          - 'lint-staged'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
